* {
    font-size: 16px;
    margin: 0.16rem;
}

table, th, td {
    border: 1px solid black;
    border-collapse: separate;
}

/*
 * below these presets are the classes that the student should have
 */

.row {
    display: flex;
    flex-direction: row
}

.red {
    background-color: #ff0000;
}

.green {
    background-color: #00ff00;
}

.blue {
    background-color: #0000ff;
}
